<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
              <div class="card card-chart">
                  <div class="card-header card-header-primary">
                    <p class="setting-title">Change alarm sound</p>
                  </div>
                  <div class="card-body">
                    <div>
                        <label>Alarm sound file:</label>
                        <input type="file" accept="audio/mpeg" (change)="onFileInput($event.target.files)">

                        <p *ngIf="this.errorAlarmFile != ''" style="color: red;">{{this.errorAlarmFile}}</p>
                        <p *ngIf="this.successAlarmFile != ''" style="color: green;">{{this.successAlarmFile}}</p>
                        <button (click)="this.onSaveAlarmFile($event)" class="btn btn-default">Save</button>

                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-5">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                      <p class="setting-title">Change Mailjet settings</p>
                    </div>
                    <div class="card-body">
                      <div>
                        <label>From:</label>
                        <input [(ngModel)]="fromMail" type="email" placeholder="from@email.com">
                        <br>
                        <label>To:</label>
                        <input [(ngModel)]="toMails" type="text" placeholder="to@email.com,other_to@email.com"  type="text">
                        <br>
                        <label>API key:</label>
                        <input [(ngModel)]="apiKey" type="text" placeholder="your API key">
                        <br>
                        <label>Secret key:</label>
                        <input [(ngModel)]="apiSecret" type="text" placeholder="your secret key">

                        <p *ngIf="this.errorEmailConfig != ''" style="color: red;">{{this.errorEmailConfig}}</p>
                        <p *ngIf="this.successEmailConfig != ''" style="color: green;">{{this.successEmailConfig}}</p>
                        <button (click)="this.onSaveEmailConfig($event)" class="btn btn-default">Save</button>

                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
  