<!--TODO add mp3 file-->
<!--TODO add email config-->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-primary">
                    <p class="setting-title">Change alarm sound</p>
                  </div>
                  <div class="card-body">

                  </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                      <p class="setting-title">Change email settings</p>
                    </div>
                    <div class="card-body">
  
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
  